# Exploración de datos (EDA)
### Contenido: evaluación de la estructura, tipos de dato, etc para la limpieza y contexto de los datasets.

## Exploración de datos previo a limpieza

In [11]:
import pandas as pd

fix = pd.read_csv("../data_raw/fix.csv")
fix.info()
fix.head()
#fix.tail()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1908 entries, 0 to 1907
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   fecha   1908 non-null   object
 1   valor   1908 non-null   float64
dtypes: float64(1), object(1)
memory usage: 29.9+ KB

        fecha    valor
0  2018-01-02  19.4899
1  2018-01-03  19.3717
2  2018-01-04  19.2427
3  2018-01-05  19.2737
4  2018-01-08  19.2323

In [12]:
inpc = pd.read_csv("../data_raw/inpc.csv")
inpc.info()
inpc.head()
#inpc.tail()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2770 entries, 0 to 2769
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   fecha   2770 non-null   object
 1   valor   2770 non-null   float64
dtypes: float64(1), object(1)
memory usage: 43.4+ KB

        fecha     valor
0  2018-01-01  5.936162
1  2018-01-02  5.937773
2  2018-01-03  5.939385
3  2018-01-04  5.940997
4  2018-01-05  5.942609

In [13]:
tasa_obj = pd.read_csv("../data_raw/tasa_obj.csv")
tasa_obj.info()
tasa_obj.head()
#tasa_obj.tail()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2759 entries, 0 to 2758
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   fecha   2759 non-null   object
 1   valor   2759 non-null   float64
dtypes: float64(1), object(1)
memory usage: 43.2+ KB

        fecha  valor
0  2018-01-01   7.25
1  2018-01-02   7.25
2  2018-01-03   7.25
3  2018-01-04   7.25
4  2018-01-05   7.25